<div class="dropdown-container">
    <h2>{{ rendered_value.title }}</h2>
    <label>
        <select id="{{ rendered_value.dropdown_id }}" multiple="multiple" style="display: none;">
            {% for option in rendered_value.values_formatted %}
                {% include "dropdown/option.html" with option=option counter=forloop.counter %}
            {% endfor %}
        </select>
    </label>
</div>

<script>
    $(document).ready(function() {
        const dropdownId = '#{{ rendered_value.dropdown_id }}';
        const queryParamName = '{{ rendered_value.var_name }}';
        const isMultiple = '{{ rendered_value.multiple }}' === "True";
        const ulId = '#select2-{{ rendered_value.dropdown_id }}-results';
        $(dropdownId).select2({
            placeholder: "Select an option",
            dropdownAutoWidth: true,
            width: '100%',
            allowClear: true,
            multiple: isMultiple,
            dropdownCssClass: "dropdown-class",
            closeOnSelect: !isMultiple,
            {#theme: "classic",#}
        });
        if (isMultiple) {
            $(dropdownId).on('select2:selecting', function (e) {
                if (e.params.args.data.id === "All") {
                    $(`${ulId} li`).removeClass("select2-results__option--selected");
                    $(this).val(["All"]).trigger("change");
                    $(`${ulId} li`).eq(0).addClass("select2-results__option--selected");
                    e.preventDefault();
                } else {
                    const values = $(this).select2('data').map((val) => val.id);
                    if (values.includes("All")) {
                        $(this).val([e.params.args.data.id]).trigger("change");
                        $(`${ulId} li`).eq(0).removeClass("select2-results__option--selected");
                        $(`${ulId} li`).eq(e.target.selectedIndex).addClass("select2-results__option--selected");
                        e.preventDefault();
                    }
                }
            });
            $(dropdownId).on('select2:unselecting', function (e) {
                console.log(e.params.args.data.id);
                if($(this).select2('data').length === 1) {
                    e.preventDefault();
                }
            });
        }
        $(dropdownId).on('select2:closing', function (e) {
            const urlObj = new URL(window.location.href);
            const searchParams = new URLSearchParams(urlObj.search);
            const oldParams = searchParams.getAll(queryParamName);
            oldParams.sort();

            let newUrl = removeQueryParams(window.location.href, queryParamName);
            const selectedData = $(this).select2('data');
            const newParams = [];
            selectedData.forEach(function (value) {
                newUrl = addQueryParam(newUrl, queryParamName, value.id);
                newParams.push(value.id);
            });
            newParams.sort();

            if (JSON.stringify(oldParams) !== JSON.stringify(newParams)) {
                window.location.href = newUrl;
            }

        });
    });
</script>
